body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.footer {
  width: 100%;
  height: 25px;
  background-color: #20292F;
  color: whitesmoke;
  bottom: 0;
  position: sticky;
}

.logo {
  width: 33%;
  color: whitesmoke;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
}

.input-group {
  width: 66%;
}

.form-navbar {
  width: 70%;
  border: none;
  border-radius: 15px;
  margin-top: 65px;
  height: 30px;
  font-size: 20px;
}

.navbar-section {
  display: flex;
  flex-direction: row;
  width: 70%;
}

.login-registration {
  display: flex;
  flex-direction: row;
  width: 30%;
}

.loginBtn {
  background-color: goldenrod;
  width: 150px;
  height: 50px;
  margin-right: 10px;
  margin-bottom: auto;
  margin-top: auto;
  border: none;
  border-radius: 15px;
  font-weight: bold;
  color: #333333;
  font-size: 20px;
}

.top-side {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: #20292F;
}

.movie-section {
  width: 90%;
  margin: auto;
  background-color: #333333;
  display: flex;
  flex-direction: row;
  color: whitesmoke;
}

.App {
  background-color: #3a4b53;
  height: 100%;
  width: 100%;
}

.movie-section-title {
  font-weight: bold;
  font-size: 42px;
}

.movie-section-img {
  margin: 20px;
}

.movie-section-title-desc {
  padding: 20px;
  font-size: 28px;
}

.movie-section-grade {
  margin: 10px;
  font-size: 20px;
}

#star-img {
  width: 14px;
  height: 14px;
}

#password-content {
  width: 200px;
  height: 40px;
  margin: 15px;
  border-radius: 15px;
}

#login-content {
  width: 200px;
  height: 40px;
  margin: 15px;
  border-radius: 15px;
}

#email-content {
  width: 200px;
  height: 40px;
  margin: 15px;
  border-radius: 15px;
}

#name-content {
  width: 200px;
  height: 40px;
  margin: 15px;
  border-radius: 15px;
}

.login-form-container {
  width: 100%;
  height: 100%;
}

.signup-container {
  width: 100%;
  height: 100%;
  color: white;
}

.login-form {
  background-color: #3a4b53;
  color: whitesmoke;
}

.signin-btn {
  background-color: goldenrod;
  border-radius: 20px;
  width: 150px;
  height: 50px;
  margin: 20px;
  color: black;
  font-size: 20px;
  font-weight: bold;
}

#main-text {
  color: white;
}

.fill-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.signup-btn {
  background-color: goldenrod;
  border-radius: 20px;
  width: 125px;
  height: 50px;
  margin: 20px;
  color: black;
  font-size: 18px;
  font-weight: bold;
}

.register-route {
  color: white;
  font-size: 20px;
}

#img-fill {
  max-width: 100%;
  height: auto;
}

.add-movie-container {
  width: 100%;
  height: 100%;
}

.add-movie-content {
  width: 100%;
  height: 1080px;
  background-image: url('https://wallpaper.dog/large/20493446.jpg');
}

.add-movie-content-form {
  overflow: auto;
  background-color: #CCCCCC;
  width: 70%;
  height: 70%;
  margin: auto;
  margin-top: 40px;
}

.add-movie-content {
  overflow: auto;
}

.movie-form-content {
  border: #20292F solid 2px;
  width: 80%;
  height: 80%;
  margin: auto;
  margin-top: 40px;
}

.movie-form-group {
  margin: auto;
  margin-top: 20px;
}

.add-movie-btn {
  background-color: goldenrod;
  border-radius: 20px;
  width: 125px;
  height: 50px;
  margin: 70px;
  color: black;
  font-size: 18px;
  font-weight: bold;
}

#title-content {
  width: 200px;
  height: 40px;
  margin: 15px;
  border-radius: 15px;
}

#desc-content {
  width: 200px;
  height: 40px;
  margin: 15px;
  border-radius: 15px;
}

#genre-content {
  width: 200px;
  height: 40px;
  margin: 15px;
  border-radius: 15px;
}